name: Destroy S3

on:
  workflow_dispatch:   # manual trigger only#

jobs:
  destroy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: environments/dev/s3

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - run: terraform init
      - run: terraform destroy -var-file="s3.tfvars" -auto-approve
